@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f6f7f9;
  --foreground: #f6f7f9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f6f7f9;
    --foreground: #f6f7f9;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .frame-mobile {
    @apply w-full max-w-[393px] mx-auto;
  }
  .frame-container {
    @apply w-full max-w-[1024px] mx-auto px-5;
  }
}
